.category-badge-container{
    background-color: #304157;
    padding: 7px;
    border-radius: 10px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.015em;
    height: 33px;
    margin-right: 10px;
    margin-bottom: 13px;
}