@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');


*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    margin-bottom: 0;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}